body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ccc;
    background-image: url(/assets/pic/bg6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding: 20px;
}

.logo {
    float: left;
    width: 18%;
    font-weight: bolder;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color: #000;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.product img {
    width: 150px;
    height: auto;
}

footer {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}
